/**********************************************
*** GENERAL
**********************************************/

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    background-image: linear-gradient(rgba(62, 20, 20, 0.4), rgba(62, 20, 20, 0.4)), url(back.jpg);
    background-size: cover;
    background-position: center;
    font-family: Lato;
    font-weight: 300;
    position: relative;
    height: 100vh;
    color: #555;
}

.wrapper {
    width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.player-0-panel,
.player-1-panel {
    width: 50%;
    float: left;
    height: 600px;
    padding: 100px;
} */



/**********************************************
*** PLAYERS
**********************************************/

/* .player-name {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 100;
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative;
}

.player-score {
    text-align: center;
    font-size: 80px;
    font-weight: 100;
    color: #EB4D4D;
    margin-bottom: 130px;
}

.active { background-color: #f7f7f7; }
.active .player-name { font-weight: 300; }

.active .player-name::after {
    content: "\2022";
    font-size: 47px;
    position: absolute;
    color: #EB4D4D;
    top: -7px;
    right: 10px;
    
}

.player-current-box {
    background-color: #EB4D4D;
    color: #fff;
    width: 40%;
    margin: 0 auto;
    padding: 12px;
    text-align: center;
}

.player-current-label {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 12px;
    color: #222;
}

.player-current-score {
    font-size: 30px;
}

button {
    position: absolute;
    width: 200px;
    left: 50%;
    transform: translateX(-50%);
    color: #555;
    background: none;
    border: none;
    font-family: Lato;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 300;
    transition: background-color 0.3s, color 0.3s;
}

button:hover { font-weight: 600; }
button:hover i { margin-right: 20px; }

button:focus {
    outline: none;
}

i {
    color: #EB4D4D;
    display: inline-block;
    margin-right: 15px;
    font-size: 32px;
    line-height: 1;
    vertical-align: text-top;
    margin-top: -4px;
    transition: margin 0.3s;
}

.btn-new { top: 45px;}
.btn-roll { top: 403px;}
.btn-hold { top: 467px;}

.dice {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 85px;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.10);
}

#dice-1 {
    top: 150px;
}

#dice-2 {
    top: 250px;
}

.winner { background-color: #f7f7f7; }
.winner .player-name { font-weight: 300; color: #EB4D4D; }

.winning-score-container {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
}

.winning-score-label {
    font-size: 20px;
    margin-right: 10px;
}

.winning-score-input {
    padding: 5px 10px;
    border: 1px solid #EB4D4D;
    color: inherit;
    font-family: inherit;
    font-weight: 600;
    text-align: center;
}

.winning-score-input:focus { outline: none; } */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; /* 1rem = 10px */
}

body {
    background: #ccc;
    height: 100vh;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    color: #444;
    position: relative;
}

.wrapper {
    background-color: #e8e2db;
    box-shadow: 0 .5px 1px rgba(2, 2, 2, .3);
    width: 70%;
    height: 90vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
}

.player-0-panel,
.player-1-panel {
    flex: 1;
    padding: 8rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.player-0-panel { background-color: #fafafa; }

.player-name {
    font-size: 4rem;
    font-weight: 300;
    text-transform: uppercase;
}

.player-score {
    font-size: 8rem;
    font-weight: 200;
}

.player-current-box {
    background-color: #1a3263;
    color: #e8e2db;
    text-align: center;
    padding: 1.2rem;
    margin-top: 17rem;
}

.player-current-label {
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: .5rem;
}

.player-current-score {
    font-size: 1.6rem;
    font-weight: 700;
}

button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: inherit;
    font-family: inherit;
    font-size: 1.7rem;
    text-transform: uppercase;
    border: none;
    background: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

i {
    margin-right: .8rem;
    font-size: 3.2rem;
    color: #f5564e;
}

.btn-new {
    top: 5%;
}

.btn-roll {
    top: 65%;
}

.btn-hold {
    top: 75%;
}

.winning-score-input {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 90%;
    width: 11rem;
    font-size: 1.5rem;
    border: none;
    background: #e8e2db;
    padding: 1rem;
    font-family: inherit;
    color: inherit;
    border: 1px solid #f5564e;
}

.winning-score-input:focus { outline: none; }

.dice {
    display: block;
    height: 8rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#dice-1 {
    top: 20%;
}

#dice-2 {
    top: 40%;
}

/* button {
    position: absolute;
}

.winning-score-container {
    position: absolute;
}

img {
    position: absolute;
} */